.wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 60px;
   padding-left: 120px;
   height: 100vh;
   width: 100%;
   background-color: #E4E4E4;
   overflow-y: scroll;
   
}

.card {
   display: flex;
   flex-direction: column;
   /* margin: auto; */
   margin-bottom: 60px;
   background-color: #FFF;
   min-width: 500px;
   max-width: 900px;
   min-height: 100px;
   max-height: 1800px;
   /* height: 1800px; */
   align-items: center;
   justify-content: center;
   padding: 20px;
   border-radius: 10px;
   /* border: 1px black solid; */
}

.selectDiv {
   display: flex;
   align-items: center;
   justify-content: center;
   /* border: 1px rgb(224, 7, 7) solid; */
   width: 100%;
   height: 70px;
}

.select {
   width: 100%;
   /* height: 70px; */
   /* border-radius: 20px; */
   font-size: 20px;
   padding: 20px;

}

.info {
   /* border: 1px blue solid; */
   display: flex;
   flex-direction: column;
   width: 100%;
   padding-left: 20px;
   padding-right: 20px;
}

.info-label {
   font-size: 16px;
   color: #000;
   font-weight: 500;
}
.info-text {
   display: inline;
   padding-left: 8px;
   font-size: 16px;
   font-weight: 400;
   color: #6d6d6d;
}

.info-image {
   width: 100%;
   display: flex;
   text-align: center;
   height: 220px;
   object-fit: cover;
   border-radius: 10px;
   margin-bottom: 16px;

}