.inputDiv {
   display: flex;
   flex-direction: column;
}

.smallInputDiv {
   display: flex;
   justify-content: space-between;
}

.inputLabel {
   font-size: 16px;
   margin-bottom: 8px;
   font-weight: 500;
}

.input {
   min-height: 48px;
   padding: 8px;
   margin-bottom: 20px;
   border-radius: 10px;
   border: 1px solid rgb(160, 160, 160);
}

.management-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 60px;
   padding-left: 120px;
   /* height: 100vh; */
   width: 100%;
}

.formModal {
   position: absolute;
   top: 40px;
   left: 0;
   right: 0;
   bottom: 40px;
   margin-left: auto;
   margin-right: auto;
   width: 700px;
   background-color: rgb(255, 255, 255);
   /* opacity: 1; */
   border-radius: 20px;
   overflow: auto;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.form {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
}

.formDiv {
   padding: 20px;
   display: flex;
   flex-direction: column;
   overflow-y: auto;
}

.modalFooter {
   bottom: 0;
   min-height: 60px;
   overflow: hidden;
}

.footerButton {
   width: 100%;
   height: 100%;
   border: none;
   font-size: 18px;
   font-weight: 600;
   color: white;
}

.overlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #000000bb;
}

.management-wrapper .card {
   display: flex;
   flex-direction: column;
   /* margin: auto; */
   margin-bottom: 60px;
   background-color: #FFF;
   /* min-width: 500px; */
   width: 900px;
   /* max-width: 900px; */
   min-height: 100px;
   /* max-height: 1800px; */
   /* height: 1800px; */
   align-items: center;
   justify-content: center;
   /* padding: 20px; */
   border-radius: 10px ;
   overflow: visible;
   /* border: 1px black solid; */
}

.selectHeader {
   display: flex;
   align-items: center;
   justify-content: center;
   /* border: 1px rgb(224, 7, 7) solid; */
   width: 100%;
   /* height: 100px; */
} 

.selectHeader .select {
   width: 100%;
   margin: 0px 20px 0px 20px;
   /* overflow-x: hidden; */
   /* height: 70px; */
   /* border-radius: 20px; */
   font-size: 20px;
   /* margin: 40px; */
}


.options {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   width: 70px;
   margin-right: -70px;
   height: 100px;
}

.button {
   display: flex;
   align-items: center;
   justify-content: center;
   border: none;
   height: 40px;
   width: 40px;
   border-radius: 50%;
   cursor:pointer;
}

.add {
   background-color: #1cd113
}

.edit {
   background-color: #153ae2
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.info {
   display: flex;
   flex-direction: column;
   width: 100%;
   padding: 0px 20px 20px 20px;
}

.info-label {
   margin-top: 21px;
   font-size: 16px;
   color: #000;
   font-weight: 500;
}
.info-text {
   display: inline;
   padding-left: 8px;
   font-size: 16px;
   font-weight: 400;
   color: #6d6d6d;
}

.info-image {
   width: 100%;
   display: flex;
   text-align: center;
   height: 220px;
   object-fit: cover;
   border-radius: 10px;
   margin-bottom: 16px;

}

/* Designing for scroll-bar */ 
::-webkit-scrollbar { 
   width: 6px; 
} 

/* Track */ 
::-webkit-scrollbar-track { 
   background: gainsboro; 
   border-radius: 5px; 
} 

/* Handle */ 
::-webkit-scrollbar-thumb { 
   background: rgb(149, 42, 199); 
   border-radius: 5px; 
} 

/* Handle on hover */ 
::-webkit-scrollbar-thumb:hover { 
   background: #555; 
} 