@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    background: #E4E4E4;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea {
    font: 400 18px Roboto, sans-serif
}

button:hover {
    /* filter: brightness(3); */
    opacity: 0.8;
}

/* Designing for scroll-bar */ 
::-webkit-scrollbar { 
    width: 6px; 
 } 
 
 /* Track */ 
 ::-webkit-scrollbar-track { 
    background: #ad00ff; 
    /* border-radius: 5px;  */
 } 
 
 /* Handle */ 
 ::-webkit-scrollbar-thumb { 
    background: rgb(58, 10, 80); 
    border-radius: 5px; 
 } 
 
 /* Handle on hover */ 
 ::-webkit-scrollbar-thumb:hover { 
    background: rgba(236, 228, 228, 0.349); 
 } 
