.admin-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0px 60px 0px 120px;
   /* border: 1px solid black; */
   width: 100%;
   height: 100vh;
   overflow: auto;
}

.admin-wrapper .card-admin {
   display: flex;
   flex-direction: column;
   background-color: #fff;
   align-items: center;
   justify-content: space-evenly;
   border-radius: 10px;
   margin: 0px 2%;
   padding: 20px;
   width: 700px;
   /* height: 350px; */
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.17));
   overflow: hidden;
}

.make-admin {
   display: flex;
   flex-direction: row;
}

.admin-wrapper .card-admin input {
   width: 100%;
   padding: 0px 10px;
   height: 48px;
   border-radius: 10px;
   border: 1px solid rgb(160, 160, 160);
}

.admin-wrapper .card-admin button {
   background: none;
   background-color: blueviolet;
   border: none;
   color: white;
   height: 48px;
   /* margin-top: 20px; */
   padding: 0px 5px;
   width: 180px;
   margin-left: 20px;
   border-radius: 10px;
}

.admin-list {
   width: 100%;
   margin-top: 18px;
   border: 1px solid black;
   border-bottom: none;
}

.user-admin {
   display: flex;
   flex-direction: row;
   width: 100%;
   height: 30px;
   align-items: center;
   border-bottom: 1px solid black;
}

.user-field {
   display: flex;
   align-items: center;
   width: 30%;
   height: 100%;
   border-right: 1px solid black;
   padding: 6px;
}

.user-remove {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 10%;
   height: 100%;
   color: white;
   cursor: pointer;
   background-color: rgb(206, 1, 1);
}

.user-remove:hover {
   background-color: rgb(131, 0, 0);
}
