.admin-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   padding: 0px 60px 0px 120px;
   width: 100%;
   overflow: auto;
}

.admin-wrapper .card {
   display: flex;
   flex-direction: column;
   background-color: #FFF;
   align-items: center;
   justify-content: space-evenly;
   border-radius: 10px;
   margin: 0px 2% 30px;
   padding: 20px;
   width: 700px;
   height: 350px;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.17));
   overflow: hidden;
}

.admin-wrapper .card input {
   width: 100%;
   padding: 0px 10px;
   height: 50px;
   border-radius: 10px;
   border: 1px solid black;
}

.admin-wrapper .card button {
   background: none;
   border: 1px black solid;
   padding: 5px;
   border-radius: 10px;
}